h1 a {
    text-decoration: none;
}

a {
    color: black;
}

div#top_spacer {
    height: 50px;
}


ul#menu, #similar ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
}

ul#menu li {
    font-weight: bold;
    margin-bottom: 5px;
}


