#demo_top_bar {
    width: 1000px;
    height: 127px;
}

#demo_image {
    float: left;
}

#demo_menu ul li {
    display: inline;
    list-style-type: none;
    padding-left: 10px;
}

#demo_menu ul#menu {
    padding-left: 0px;
}

#demo_menu {
    padding-top: 30px;
}
