#post_title {
    margin-bottom: 5px;
}

#post_date {
    margin-bottom: 5px;
}

div.post {
    margin-bottom: 10px;
}

p.code, pre.code{
    background: #EEE;
    font-family: monospace;
    border: 1px solid #DDD;
    white-space: pre;
}

span.code {
    font-family: monospace;
}

#post_tags ul {
    list-style-type: none;
}

#post_tags li { 
    float: left;
    padding: 4px 12px;
    border: 1px solid #BBB;
    background: #CCC;
    margin: 0px 5px 0 0;
    font-weight: bold;
}

#post_tags a {
    text-decoration: none;
}

#similar strong {
    margin-left: 62px;
}

#similar li {
    margin-top: 10px;
    border-top: 1px solid #999;
}

#similar a {
    text-decoration: none;
}

#similar a:hover {
    text-decoration: underline;
}