{% extends 'base.html' %}
{% block header %}
    <link rel="stylesheet" type="text/css" media="all" href="/media/css/post.css" />

{% endblock %}

{% block page-title %}{{object.title}}{% endblock page-title %}

{% block sidebar_extra %}
<div id="similar"><strong>Similar Posts by Tag:</strong>
<ul>
{% for similar in object.get_similar %}
		<a href="/posts/{{ similar.slug }}"><li>{{ similar.title }}</li></a>
{% endfor %}
</ul></div>
{% endblock sidebar_extra %}

{% block content %}

{% include 'posts/_post.html' %}
<br /><br />
{% include 'posts/disqus.html' %}
{% endblock %}
