<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transistional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
    <meta name="google-site-verification" content="rTZB2Z4ZIMTzsxfCCapz3ixbLYuqY1jG7qir-N9OWs4" />
		<meta http-equiv="Content-type" content="text/html" charset=utf-8"/>
		<title>Jason Kotenko</title>
		<link rel="stylesheet" type="text/css" media="all" href="/media/css/reset.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/media/css/text.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/media/css/base.css" />
		
	    {% block bare_head %}{% endblock bare_head %}
	
    </head>
<body>
    {% block bare_body %}{% endblock bare_body %}
    
	<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-4726746-3");
pageTracker._trackPageview();
} catch(err) {}</script>
<!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://jasonkotenko.com/stats/" : "http://jasonkotenko.com/stats/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://jasonkotenko.com/stats/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Tag -->
	</body>
</html>
