{% extends 'bare_base.html' %}

{% block bare_head %}		
		<link rel="stylesheet" type="text/css" media="all" href="/media/css/reset.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/media/css/text.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/media/css/960.css" />
        <link rel="stylesheet" type="text/css" media="all" href="/media/css/base.css" />
        <link rel="alternate" type="application/atom+xml" href="/posts/feed/" title="Blog">
        {% block header %}{% endblock header %}
{% endblock bare_head %}


{% block bare_body %}	
	    <div class="container_16">
	  
	    <div class="grid_16" id="top_spacer"></div>
	    
	    <div class="grid_5" id="header_left">&nbsp</div>
	    
	    <div class="grid_11" id="header_right">
		<h1>{% block title %}Jason Kotenko{% endblock title %}</h1>
		</div>
		<div class="clear"> </div>
		
		<div class="grid_4" id="left_sidebar">
		    <a href="/"><img src="/media/images/mountain_bw_240w.png"></a><br />
		    {% include "menu.html" %}
		</div>
		
		<div class="grid_1">&nbsp</div>
		
		<div class="grid_11">	<hr />	
		    {% block content %}{% endblock %}
		</div>
		
		</div>
{% endblock bare_body %}
