<ul id="menu">
    <li>Jason Kotenko</li>
    <li><a href="/">Home</a></li>
    <li><a href="/articles/about-me">About</a></li>
    <li><a href="/photos">Photos</a></li>
    <li><a href="/articles/elsewhere">Elsewhere</a></li>
    <li><a href="/demo/philippines-map/">Interactive Philippines Map</a></li>
    <li><a href="/posts/feed/">RSS Feed</a></li>
    <form name="input" action="/posts/search" method="get" style="margin-left:30px">
        <input type="text" name="query" placeholder="Search..."/>
        <input type="submit" value="Search" />
    </form>
</ul>
