{% extends 'demo.html' %}

{% block extra_head %}
<script type="text/javascript" src="/media/js/jquery.js"></script>
<script type="text/javascript" src="/media/js/jquery.galleriffic.js"></script>
<script type="text/javascript" src="/media/js/jquery.history.js"></script>
<script type="text/javascript" src="/media/js/jquery.opacityrollover.js"></script>
<link rel="stylesheet" href="/media/css/galleriffic-2.css" type="text/css" /> 

{% endblock %}

{% load util_tags %}

{% block title %}{{ gallery.name }}{% endblock title %}

{% block demo %}
<div id="container">
<!-- Start Advanced Gallery Html Containers --> 
				<div id="thumbs" class="navigation"> 
					<ul class="thumbs noscript"> 
					{% for image in gallery.photo_set.all %}
					    <li>
					    <a class="thumb" title="{{ image.title }}" href="/media/{{ image.image }}">
					    <img src="{{ image.image|sthumbnail:"80x80" }}" alt="{{ image.title }}"></a>
					    <div class="caption">
					    	<div class="download"> 
								<a href="/media/{{ image.image }}">Download Original</a> 
							</div> 
							<div class="image-capt">{{ image.title }}: {{ image.description }}</div> 
						</div>
						</li>
					{% endfor %}
					</ul>
				</div>
				
				<div id="gallery" class="content"> 
				    <div id="caption" class="caption-container"></div> 
					<div class="slideshow-container"> 
						<div id="loading" class="loader"></div> 
						<div id="slideshow" class="slideshow"></div> 
					</div> 
					
				</div> 
				
				<div class="clear"></div>
				
</div>
<script type="text/javascript"> 
			jQuery(document).ready(function($) {
				// We only want these styles applied when javascript is enabled
				$('div.navigation').css({'width' : '900px'});
				$('div.content').css('display', 'block');
 
				// Initially set opacity on thumbs and add
				// additional styling for hover effect on thumbs
				var onMouseOutOpacity = 0.67;
				$('#thumbs ul.thumbs li').opacityrollover({
					mouseOutOpacity:   onMouseOutOpacity,
					mouseOverOpacity:  1.0,
					fadeSpeed:         'fast',
					exemptionSelector: '.selected'
				});
				
				// Initialize Advanced Galleriffic Gallery
				var gallery = $('#thumbs').galleriffic({
					delay:                     2500,
					numThumbs:                 18,
					preloadAhead:              10,
					enableTopPager:            true,
					enableBottomPager:         false,
					maxPagesToShow:            7,
					imageContainerSel:         '#slideshow',
					controlsContainerSel:      '#controls',
					captionContainerSel:       '#caption',
					loadingContainerSel:       '#loading',
					renderSSControls:          false,
					renderNavControls:         false,
					playLinkText:              'Play Slideshow',
					pauseLinkText:             'Pause Slideshow',
					prevLinkText:              '&lsaquo; Previous Photo',
					nextLinkText:              'Next Photo &rsaquo;',
					nextPageLinkText:          'Next &rsaquo;',
					prevPageLinkText:          '&lsaquo; Prev',
					enableHistory:             false,
					autoStart:                 false,
					syncTransitions:           true,
					defaultTransitionDuration: 900,
					onSlideChange:             function(prevIndex, nextIndex) {
						// 'this' refers to the gallery, which is an extension of $('#thumbs')
						this.find('ul.thumbs').children()
							.eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
							.eq(nextIndex).fadeTo('fast', 1.0);
					},
					onPageTransitionOut:       function(callback) {
						this.fadeTo('fast', 0.0, callback);
					},
					onPageTransitionIn:        function() {
						this.fadeTo('fast', 1.0);
					}
				});
			});
		</script> 

{% endblock %}
